Source: ros-noetic-boost-sml
Section: misc
Priority: optional
Maintainer: Tyler Weaver <tyler@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-noetic-catkin, ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-rostest, ros-noetic-rosunit
Homepage: https://boost-experimental.github.io/sml/
Standards-Version: 3.9.2

Package: ros-noetic-boost-sml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-noetic-roscpp, ros-noetic-roslint
Description: State machine library with ros logging
